[2021-04-25 18:54] jurosens opened #1 "Basic wallet app frame"
## Feature description

- initial project setup
- reuse libraries where applicable

[2021-04-25 18:56] jurosens opened #2 "Scan QR code in wallet app"
## Feature description
- Scan QR code
- Decode information

[2021-04-25 19:00] jurosens opened #3 "Claim certificate"
## Feature description
- Enter TAN
- Create local key pair
- Send DGCI + signature, TAN and public key (of newly generated key pair) to backend
- Claim certificate to wallet

[2021-04-29 21:28] #1 closed

[2021-04-30 15:18] yspreen commented on #2
Already done through the core module. Closed by #5

[2021-04-30 15:18] #2 closed

[2021-05-01 19:51] yspreen opened #8 "TAN Input Screen"

[2021-05-01 19:51] yspreen opened #9 "Backend Connection"

[2021-05-01 19:51] yspreen opened #10 "Biometric Lockscreen"

[2021-05-01 19:52] yspreen opened #11 "Implement Design Changes"

[2021-05-01 19:53] yspreen opened #12 "Scan screen back button"

[2021-05-01 19:54] yspreen opened #13 "Asymmetric Keypair for each Cert"

[2021-05-03 06:37] #3 closed

[2021-05-04 12:34] #8 closed

[2021-05-04 12:34] #9 closed

[2021-05-04 12:34] #10 closed

[2021-05-04 12:34] #12 closed

[2021-05-04 12:34] #13 closed

[2021-05-05 15:54] yspreen opened #20 "Show all fields that are in the Hcert on the UI Table"

[2021-05-05 15:59] yspreen commented on #11
- [ ] Deletion of certs on swipe left
- [ ] Remove segmented control
- [ ] Replace logo
- [ ] Flip List

[2021-05-05 16:11] SchulzeStTSI opened #21 "Implement dynamic certificate pinning and claiming with /context for IOS (Endpoint)"
Implement the usage of the dynamic context content. The claimDomains should be used for claiming.
[
{
   "co":"DE",
   "claimDomain":"http://ibm.blabala.de"
   "pubKey":"MIIj234ksedfioweikseipo234jk234jksdfklsdfjksdfjklsdfsdjfsdfj"
},
{
   "co":"ES",
   "claimDomain":"http://ibm.blabala.de"
   "pubKey":"MIIj234ksedfioweikseipo234jk234jksdfklsdfjksdfjklsdfsdjfsdfj"
}
]

[2021-05-06 17:35] #11 closed

[2021-05-07 07:02] yspreen opened #26 "Make flag smaller."

[2021-05-07 07:03] yspreen opened #27 "Add swiftlint."

[2021-05-08 06:53] #26 closed

[2021-05-08 14:12] ouboub opened #29 "Will a beta version via testflight available before the release?"
Hi

I would be interested in testing the beta version, if possible since I will travel frequently between Germany and Spain

regards

Uwe Brauer

[2021-05-08 18:17] #29 closed

[2021-05-08 18:37] yspreen commented on #29
@ouboub Luckily, that's not the case. See [here](https://ionicframework.com/blog/deploying-to-a-device-without-an-apple-developer-account/) for example.

[2021-05-08 18:42] ouboub commented on #29
Thanks! (I still think a public testflight version would be great (I am
doing this already for a couple, of commercial apps), but that solution
is better than nothing). I will try it out as soon as I can.

The release date is still the beginning of June?

[2021-05-08 18:42] yspreen commented on #29
I'm still a bit concerned about your test case here. The fact that you plan to travel doesn't have anything to do with testing the features of this app. The wallet stores certificates, yes, but they aren't issued yet. We're in the development phase.

We're welcoming any feature requests and bug reports with open arms, but using this application for traveling is not in the scope of the project righ

[2021-05-08 19:03] ouboub commented on #29
ah ok, this was not entirely clear to me. Can you provide me any pointers to repositories of the corresponding states?
I am a bit confused, since it was announced  that a a full functional app to be released in June (not sure whether beginning or end),
but given the fact that for example the development of the covid warn apps in Spain was quite  bit behind that of Germany (I can tell that with som

[2021-05-08 20:06] yspreen opened #31 "Swipe left to delete cert in list."

[2021-05-08 20:08] yspreen commented on #20
- [ ] Honor privacy bool on info sections in this repo.

[2021-05-09 09:25] #27 closed

[2021-05-09 15:33] #31 closed

[2021-05-11 12:50] #20 closed

[2021-05-13 09:29] #21 closed

[2021-05-14 07:17] yspreen opened #38 "Settings page"

[2021-05-14 07:17] yspreen opened #39 "Privacy link in settings page"

[2021-05-14 07:18] yspreen opened #40 "Outdated page"

[2021-05-14 07:18] yspreen opened #41 "Outdated page"

[2021-05-14 07:18] #41 closed

[2021-05-14 15:43] yspreen opened #43 "Settings page: Mention open source libraries"

[2021-05-15 12:22] yspreen commented on #39
- [ ] Disclosure Indicator
- [ ] Font check: Needs to be same size as list elements in verifier
- [ ] Disable button userinteraction
- [ ] Change button action to cell did select trigger
- [ ] swiftlint
- [ ] class not coding compliant
- [x] bottom aligning of button
- [ ] Change Xcode 2 width tab
- [ ] Enable L10N for all storyboards

[2021-05-16 18:54] #38 closed

[2021-05-16 18:54] #39 closed

[2021-05-16 18:54] #43 closed

[2021-05-16 19:09] #40 closed

[2021-05-16 19:23] yspreen opened #47 "Remove the github link from settings, add links and mentions of all libraries instead"
- [x] Alamofire
- [x] Floating Panel
- [x] JSON Schema
- [x] Swift CBOR
- [x] Swifty JSON

[2021-05-17 14:17] advatar opened #48 "Support reading of multi entry certificates"
## Current Implementation

Only the last HCertEntry is displayed

## Suggested Enhancement

Would be good to be able to see all of the contents. It seems to me that core does not support this at the moment.

## Expected Benefits

Would be good to be able to see all of the contents. You might f.i have had only one shot but have a negative PCR test.

[2021-05-17 15:05] yspreen commented on #48
The current spec only supports 1 statement. If you wish to include multiple, I think the spec repo would be a better place for that. Maybe https://github.com/ehn-digital-green-development/ehn-dgc-schema ?

[2021-05-17 15:07] yspreen commented on #48
This repo is definitely the wrong place. If you feel like this is a problem of the Swift implementation, that we're not following the spec, please reopen in the core module. Thanks

[2021-05-17 15:07] #48 closed

[2021-05-18 10:32] rebwalz opened #49 "no biometric or alternate secure requested on start"
## Describe the bug
on starting the App on my iphone, there is no secure request to enter the app if no biometric or alternate secure is saved on mobile device.

## Expected behaviour
On starting the App there have to be a login mechanism with biometric data or pin or template.
If there are no biometric data saved on mobile device, the user has to save one secure login possibility. Otherwise a sta

[2021-05-18 10:42] rebwalz opened #50 "no app start on IOS 12"
## Describe the bug

I just started the IPhone to be sure no service is running anymore. Installing the Version 1.0 of the walletApp. After that i tried to start the App but I get just a black screen.
On IPhone Xs everything works fine.

## Expected behaviour

The App should start

## Steps to reproduce the issue

1. restart the IPhone
2. install version 1.0 from AppCenter
3. trust the Application

[2021-05-18 12:16] yspreen commented on #49
Interesting. Can you take a screen recording? Does the phone have a passcode set? Does the phone have biometrics set in system preferences?

[2021-05-18 12:17] yspreen commented on #49
Okay I see:

The question is, do we want to support such insecure devices?

[2021-05-18 12:21] yspreen commented on #49
This is actually by design right now, but we should inform the user for sure.

[2021-05-18 12:30] yspreen commented on #50
we need someone with an old iPhone and developer tools to debug this. I don't have such an old device for testing :/

[2021-05-18 14:24] rebwalz commented on #49
In android we have another behavior.
On start the android app the user has to save biometric data or a pin or a template. Otherwise it is not possible to start the app.
We should have on both types of devices the ame behavior. And in the specification is written, that a login is necessary.

[2021-05-18 14:30] rebwalz commented on #50
maybe it is possible to get one from the development team?

[2021-05-18 15:57] yspreen commented on #49
iOS Doesn't allow us to record biometric info specifically for the app. It can only be used with the same data that's stored to secure phone unlocking.

We could ask the user for a pin instead. Then we'd have to store that pin, and design a new UI for setting and checking the pin. Specifically for phones without a phone pin code.

[2021-05-18 16:41] yspreen commented on #50
I found the issue, it's because of iOS 12. Will work on a fix as 1.1.0

[2021-05-18 20:09] yspreen commented on #49
I'd vouch for an info screen: "please set a passcode for this device so that we can verify your identity"

[2021-05-19 06:06] rebwalz commented on #49
That is the way, it works on android. If the user doesn't set a passcode on device, the app isn't starting

[2021-05-19 16:04] RalicaY opened #51 "Two Fields named "Time of Sampling" in Certificate of Type TEST"
![Time_of_Sampling_Wallet_iOS](https://user-images.githubusercontent.com/76050122/119678211-a37c9500-be3f-11eb-8ec2-85347d05d618.jpg)

## Describe the bug

There are two fields named "Time of Sampling" shown in the certificate data in certificates of type TEST.

## Expected behaviour

One of these two "Time of Sampling" fields contains the value "Detected/Undetected" and should be called "Test Res

[2021-05-20 09:30] frogg opened #53 "Status Bar Should be White for better readability / contrast"
## Current Implementation
![IMG_2812](https://user-images.githubusercontent.com/5204169/118955172-bdf5d080-b95e-11eb-9689-f42e0976eda7.jpg)

## Suggested Enhancement

[code]

## Expected Benefits
Better accessibility, readability. Black on dark blue is not a great choice. See screenshot above.

[2021-05-20 09:34] frogg opened #54 "Inconsistency on first launch when granting camera permissions"
## Current Implementation
See video: After pressing the "scan code" button, I am asked to grant camera permissions. Afterwards I end up on the main screen, because I need to do a FaceID scan first. Video attached below.

## Suggested Enhancement
I would expect that I still end up on the screen to scan the barcode, because I pressed that button in the first place.

## Expected Benefits
No user conf

[2021-05-20 09:53] frogg opened #55 "Shortly shows certificate, then disappears again"
## Describe the bug
See attached video. After granting the camera permissions, the certificate shows up briefly and then disappears again.

## Expected behaviour
The certificate shouldn't disappear right after it appeared.

## Steps to reproduce the issue
This seems to be related to #54.

## Technical details
iPhone XS, iOS 14.5.

## Possible Fix
change the code

## Additional context

https://use

[2021-05-20 10:42] yspreen opened #56 "Tap to reveal TAN"

[2021-05-20 11:30] rebwalz opened #57 "all TANs not found after changing IssuerWebApp URL"
## Describe the bug

After changing the IssuerWebApp to another URL, no TANs are found to claim the qr-code

## Expected behaviour

valid TAN should claim the qr-code

## Steps to reproduce the issue

1. open WalletApp
2. unlock via faceID
3. push the button "Scan code"
4. qr-code will be scaned
5. qr-code details will be shown
6. push "save"
7. TAN is requested
8. insert valid TAN
9. see error me

[2021-05-20 12:50] frogg commented on #57
I had the same issue, but only after I‘ve added, deleted, and then scanned the same code again. Maybe that's helpful.

[2021-05-20 13:59] rebwalz commented on #57
no, that didn't help.

[2021-05-20 14:11] yspreen opened #58 "App opens when no passcode is set"
in 1.0.1

[2021-05-20 20:52] yspreen commented on #55
I think 1.0.1 closes this issue. If not, please open again. Thanks @frogg

[2021-05-20 21:03] #50 closed

[2021-05-20 21:03] #53 closed

[2021-05-20 21:03] #54 closed

[2021-05-20 21:03] #55 closed

[2021-05-20 21:03] #56 closed

[2021-05-20 21:03] #57 closed

[2021-05-20 21:03] #58 closed

[2021-05-21 09:01] rebwalz opened #60 "Deep-Link functionality"
## Your Question
in User Story 2: Import Green Certificate in the Wallet App, is a second optionally way to import the cerificate by a deep link which was sended by SMS or email.

wallet app. The deep link can look like:
dgc://example.authority.com?token=ey… & [publickey]
In this case the token is received with the link, and the public key must be replaced by the key
of the new generated key pair

[2021-05-21 09:30] yspreen commented on #60
You'll have to ask the project lead. They dont read issues here.

It's not part of the current release schedule.

[2021-05-21 11:21] SchulzeStTSI commented on #60
@rebwalz The deeplink feature is not scope of the implementation, but it was recommended as guideline for the MS (so far possible).

[2021-05-22 12:18] yspreen commented on #60
If I understand it correctly, since it's currently not on our timeline, this issue is not applicable yet. So I'll close for now

[2021-05-22 12:18] #60 closed

[2021-05-22 12:38] yspreen opened #61 "Opening the settings makes cells untappable afterwards"

[2021-05-25 17:54] #61 closed

[2021-05-25 20:37] yspreen opened #62 "TAN should be capitalized during input"

[2021-05-25 20:41] #62 closed

[2021-05-26 12:02] rebwalz commented on #49
on ios12 everything works fine.
After testing same on ios 14.4, the walletApp shows no message and does not start.
If you have no idea, that you need a secure passcode, the user will have no idea, why the app is not working.

[2021-05-26 12:03] rebwalz commented on #49
on ios12 everything works fine.
After testing same on ios 14.4, the walletApp shows no message and does not start.
If you have no idea, that you need a secure passcode, the user will have no idea, why the app is not working.

[2021-05-26 12:05] yspreen commented on #49
Agreed, this is why we're fixing this.

Can you confirm both apps run the exact same version? The OS should not make a difference here

[2021-05-26 12:07] rebwalz commented on #49
i deinstalled on both devices the wallet app and made a new installation.

[2021-05-26 12:13] yspreen commented on #49
I don't have a device without Passcode to test on. @PaulBallmann can you debug this?

[2021-05-26 12:18] rebwalz commented on #49
you can remove the passcode very easy on every device. Just go to settings->face ID & Code> there you can remove the app permission

[2021-05-26 12:23] yspreen commented on #49
Sadly that removes all biometric data and training as well. While also
forcing you to re-login into all authentication, tan, and banking apps.
It's not worth the hassle if someone else has a testing device ready :)

[2021-05-26 12:24] rebwalz commented on #49
no, it is possible, the faciID just to remove for the walletApp, if you find the setting: face ID & Code the is a setting "other apps" there are alle apps listet and you can remove the face ID only for wallet App

[2021-05-26 12:36] yspreen commented on #49
Sadly that only removes biometric authentication. It then asks me for my
passcode as a fallback. The issue you're describing doesn't come up

[2021-05-26 12:45] PaulBallmann commented on #49
Once my test device updated from iOS 12 to iOS 14, I can debug the issue.

[2021-05-26 14:12] yspreen commented on #51
This is probably related to the wrong core module being built. Please check with Hendrik that you're using the latest build

[2021-05-26 16:07] PaulBallmann commented on #49
I opened a pull request addressing the issue. I tested on an iPhone 6s with no biometric data or passcode set on iOS 14.6.

[2021-05-26 17:24] yspreen commented on #49
It's merged on main. 1.0.1(4) should fix this. Thanks @PaulBallmann !

[2021-05-27 16:03] #51 closed

[2021-05-27 16:14] rebwalz commented on #51
In latest release, it could be retestet successful.

[2021-05-27 16:15] rebwalz commented on #49
In latest release the behavior is still the same.

[2021-05-28 09:28] PaulBallmann commented on #49
@rebwalz Have you tried with 1.0.1(4) e.g the current on main? The issue should be fixed there but afaik theres no new release yet.

[2021-05-28 10:29] rebwalz commented on #49
I have no possibility to test it without a new release.

[2021-05-28 11:04] PaulBallmann commented on #49
We will be deploying a new release today for you to test as soon as the open PRs are approved.

[2021-05-28 14:04] #47 closed

[2021-05-29 16:45] PaulBallmann commented on #49
@rebwalz - Wallet app 1.0.2 (1) should include the fix.

[2021-05-31 08:34] rebwalz commented on #49
With the delivered Version on May 28 (Version 1.0.2(1)) everything works fine.
Is it possible to refresh the releases in Github?

[2021-05-31 08:34] #49 closed

[2021-06-01 20:00] ezadoo opened #69 "Apple Wallet Integration (iOS)"
## Feature description
I think there should be an option to integrate certificates, passes and other cards directly in Apple Wallet, so this documents could be accessed in one central App and the same place where are already stored things like creditcards from Apple Pay, loyaltycards and tickets.

https://developer.apple.com/wallet/

So there could be displayed an „Add to Apple Wallet“ button in t

[2021-06-08 06:55] stefanoschrs opened #73 "App not building on Xcode 12.4"
## Describe the bug

Swift compiler errors on Run/ Test/ Archive

## Expected behaviour

Application to build without errors

## Steps to reproduce the issue

1. Clone dgca-app-core-ios
2. Clone dgca-wallet-app-ios
3. Try to Run

![image](https://user-images.githubusercontent.com/4215699/121137521-03f3d500-c837-11eb-8e4f-a46d9dc8776f.png)

## Technical details

- Host Machine OS (Windows/Linux/Mac

[2021-06-08 06:56] #73 closed

[2021-06-10 12:06] felixfbecker commented on #69
It could also allow the certificate/QR code to be shown through Apple Wallet hands-free on the Apple Watch, without having to open the app on the iPhone.
Considering the vaccination certificate will likely be important to show when traveling and crossing borders and the digital certificate is all about making that process easier, it would make a lot of sense to have it right next to where e.g. air

[2021-06-11 06:51] psavva opened #75 "Security Concern - Showing Personal Data prior to requesting the TAN - Not consistent with Android Version"
Dear Team,

The iOS Wallet allows the scanning of the QR Code, and shows personal data, without requesting the TAN first.
On Android, the Wallet requires the TAN prior to showing personal data.

Please can this be iOS Wallet implementation be aligned with the Android implementation with regard to showing the Personal Data prior as first ask and validate the TAN, prior to showing the Personal Data.

[2021-06-11 07:04] psavva opened #76 "Automatically Remove Expired Certificates"
The request is to have expired certificates automatically purged from the Wallet.

Display the Expiry Date on the main screen that shows all loaded certificates as to ensure the holder is aware of when the specific certificate expires.

It also has the benefit of not holding this information (even for spouse or dependents, parents, etc.) once they expire, and thus no longer useful. This is a secur

[2021-06-12 10:06] PaulBallmann commented on #75
Hello,

thank you for your feedback. However, according to the DGC spec, this is implemented as intended. The TAN is used for adding the certificate into the wallet, not for unlocking its data. Therefore, we will not be changing the behaviour. We will align with our Android colleagues to streamline the process of adding your certificate to wallet according to spec.

Kind regards,
Paul

[2021-06-12 10:06] #75 closed

[2021-06-12 10:06] PaulBallmann commented on #69
Unfortunately, this is a security and privacy concern, as already discussed in the CWA GitHub. As this would allow the QR code to be visible without any sort of user validation / passcode. We have discussed this internally and came to the conclusion to not implement it because of the security concerns and that it is out of scope.

[2021-06-12 10:06] #69 closed

[2021-06-12 10:38] majirosstefan opened #79 "Anonymized QR codes that works with wallet (and verifier)"
Hi all, big thanks to all for making this project open-source.

Slovakia e.g. declares to have functionality that allows **wallet app to share/display QR codes with 'anonymized' data** (my guess is that the QR e.g. does not contain a person's name or date of birth).

I am interested only in the **technical point of view** of this question - so do you know about ways how this could be accomplished,

[2021-06-12 10:41] jucktnich commented on #69
You can disable access from Lock Screen in the iOS settings.

[2021-06-12 10:49] Ein-Tim commented on #69
That's true, navigate to the "TouchID & Code" or "FaceID & Code" or just "Code" section in the Settings and switch the toggle to off for Wallet in the section "Allow access from the lock screen".

[2021-06-12 10:58] jucktnich commented on #69
And as I said in https://github.com/corona-warn-app/cwa-wishlist/issues/503 you can only access cards which work with Apple Pay from the lockscreen https://support.apple.com/en-us/HT204003

[2021-06-12 10:59] PaulBallmann commented on #69
Since we cannot make sure that this is disabled on the iPhone the app is deployed on, this is still a privacy and security issue.

@jucktnich - I can access all my card from the lock screen even those that are not Apple Pay enabled. E.g. discount codes etc.

[2021-06-12 11:01] jucktnich commented on #69
@PaulBallmann discount cards can also be Apple Pay enable see the support article

[2021-06-12 11:01] jucktnich commented on #69
You also cannot make sure, that the user has a code enabled at all

[2021-06-12 11:02] ezadoo commented on #69
I have to admit that I'm disappointed and can't really understand the decision .

As the passes wouldn't be added automatically, the users would have to decide proactive, whether they want the passes and so the personal information to be accessible in such a way (without Passcode and/or verification) or not. Maybe a warning could be implemented to inform the user about that.

Also I think it is pr

[2021-06-12 11:03] Ein-Tim commented on #69
@PaulBallmann

But you also can't make sure that the passcode is enabled on every iPhone the app is installed, since it's still not mandatory from iOS to use a passcode.
It would also be possible to inform the users about this security risk and give instructions how to disable the feature.

[2021-06-12 11:08] PaulBallmann commented on #69
@Ein-Tim - Yes, we make sure that passcode is enabled else the app won't start.

@ezadoo - Please understand that his is not in our hands. The EU did not put this into their spec and since this is privacy and security related we cannot just implement a feature that would expose a user that does not know about this issue.
Also handing over your phone to get the QR code scanned is not needed. You ca

[2021-06-12 11:11] Ein-Tim commented on #69
@PaulBallmann

Interesting, thank you. To which app are you referring? The example one?
I'm not sure if CovPass (the German app) has something like this implemented...

[2021-06-12 11:17] PaulBallmann commented on #69
@Ein-Tim - Yes. This is implemented in the example wallet-app. I don't know how much of our core or app is used in the CovPass app.

[2021-06-12 11:36] jucktnich commented on #69
Can someone proof/disproof if the Apple Pay integration is needed to be accessed without authentication

[2021-06-12 11:42] PaulBallmann commented on #69
@jucktnich - I don’t know exactly what you mean. The apple wallet is not passcode protected by default and will let you see any certificates that are stored im the wallet on the lockscreen without authentication which goes against DGCA spec.

[2021-06-12 11:44] jucktnich commented on #69
According to the apple support article you can only access cards with Apple Pay integration from the lockscreen "If you have a credit, debit, prepaid, store card, or a rewards card in Wallet that works with Apple Pay, double-click the Home Button from the Lock Screen to open Wallet. On iPhone X or later, double-click the Side button."

[2021-06-12 11:56] BastianZim commented on #69
@jucktnich I have a Nespresso membership card that is only visible when the iPhone is unlocked and otherwise not accessible. Is that what you meant?

[2021-06-12 11:59] jucktnich commented on #69
Yup, same with f.e. the iTunes pass and the tickets of the DB

[2021-06-12 12:06] ezadoo commented on #69
@PaulBallmann

"The EU did not put this into their spec and since this is privacy and security related we cannot just implement a feature that would expose a user that does not know about this issue."

This is why I said, that a warning could (and should) be implemented, before the user adds it to the wallet, so the user is informed about the risks coming with that decision.

In this case the user

[2021-06-12 12:17] jucktnich commented on #69
@ezadoo Something like with the driver license would be the icing on the cake

[2021-06-12 12:47] PaulBallmann commented on #69
Thank your for your input on this issue. It is still not in spec nor scope. We will keep this in mind in case scope or spec change. There’s just too much fluctuation.

[2021-06-12 12:58] PaulBallmann commented on #69
I don’t know how this changes the scope of the issue but I will bring this up and will get back to you on that.

[2021-06-12 13:01] jucktnich commented on #69
@PaulBallmann If you can't access the card from the lockscreen (without authentication) all the security concerns vanish.

[2021-06-14 09:17] psavva opened #80 "Streamline iOS and Android impelemtnations with regards to TAN Input"
Please align with the Android team to streamline the process of adding a certificate to a wallet according to spec.

Currently there is a misalignment where Data is shown first in iOS, then TAN is required.
In Android, TAN is requested, then Data is shown.

Please can these two be aligned.

Best Regards
Panayiotis Savva

[2021-06-14 09:17] psavva commented on #75
Opened a new issue for the Point of Alignment.

https://github.com/eu-digital-green-certificates/dgca-wallet-app-ios/issues/80

[2021-06-14 12:13] riconeitzel commented on #69
@PaulBallmann if you make it an optional step … like [Add to Wallet] as a button the USER can decide whether (s)he want's to use this feature.

I personally prefer to NOT unlock my phone for anyone who wants to see my certificate but I'd be fine if anyone can see my name on the certificate.

Also: if the certificate only shows the QR Code with encrypted data: what can ANYONE see on the locked wall

[2021-06-14 12:33] Ein-Tim commented on #69
As also said in the CWA project, it seems like this won't be possible via the Apple Wallet (https://github.com/eu-digital-green-certificates/dgca-wallet-app-ios/issues/69#issuecomment-860042008).

[2021-06-14 13:00] Ein-Tim commented on #69
FYI: If you want your QR-Code in your Apple Wallet **now**, take a look at: https://twitter.com/kkrdvc/status/1404418854231674885

[2021-06-14 16:25] PaulBallmann commented on #80
Please open for Android as iOS implementation is according to spec.

[2021-06-14 16:25] #80 closed

[2021-06-15 08:19] notjosh commented on #69
The comment above me (pointing people at a 3rd party app) getting reactions will be the end result of this: people will use 3rd party apps instead. Who knows what happens to the data then? If the details are sent to the backend, we've already lost.

_That_, to me, is the real threat of privacy problems here - people will find a way. So from a harm minimisation perspective, imo, it makes sense to i

[2021-06-15 08:48] felixfbecker commented on #69
I was gonna say the same thing. If you've used Pass2U, it takes several seconds to generate a pass, and it will show you an error if you're offline. This indicates that the generation does not happen locally on the phone, but details are sent to a backend. The app's developer (and probably the servers) are in Taiwan, outside the EU. I don't intend to bad-mouth the developer, they may very well hav

[2021-06-15 10:28] ezadoo commented on #69
Thats exactly what I said in one of my comments above:

And a little explanation regarding this topic:

There are many apps for generating wallet passes, all of them are generating the passes on their backend servers.

This seems to be an intended technical/security limitation from Apple as every pass has to be signed to work in the wallet app.

And as you can't include the signing certificate wit

[2021-06-27 00:03] marvinsxtr commented on #69
@felixfbecker I developed a small web app, which lets you add your certificates as a pass: [CovidPass](https://covidpass.marvinsextro.de). It is developed in accordance with the GDPR and hosted in Germany.

[2021-07-01 18:26] grischard commented on #79
I am also not a representative, nor a member of any official working group.

The signature would indeed become invalid if fields are redacted or removed. The issuer could issue two codes - one anonymous and one with full information - but then no one can check if the certificate I'm showing on my phone is mine or yours, no?

[2021-07-02 06:02] daniel-eder commented on #79
As far as I understand this is not part of the specification and functionality the EU provides to the member states, so it is to my understanding somewhat out of scope for this project.

I agree with the assessment, that removing data after the fact will invalidate the signature.

It may be best to get directly in touch with the member states that implement such a system to get information on how

[2021-07-02 09:57] stefanoschrs opened #82 "SecureStorage: Missing argument for parameter 'fileName' in call"
The storage [initialization](https://github.com/eu-digital-green-certificates/dgca-wallet-app-ios/blob/main/DGCAWallet/Models/LocalData.swift#L58) is missing the fileName parameter as requested in the [app-core](https://github.com/eu-digital-green-certificates/dgca-app-core-ios/blob/main/Sources/Services/SecureStorage.swift#L46) constructor.

Causing XCode to complain and not build

[2021-07-02 16:31] felixwortmann commented on #69
Is it really better to have users download some third party app because they want this feature than just to clarify for the user that the wallet is accessible without a passcode? Not everyone has to use this. <br>
Also one more thing to think about: Analog vaccination certificates also do not require a passcode and they were safe enough for us for a very long time.

[2021-07-05 09:51] alexchornyi commented on #82
@stefanoschrs fixed in #83

[2021-07-12 07:12] rebwalz opened #85 "iOS - No rules will be used for check validity"
## Describe the bug

on choosing a certificate to check the validity, the choosen country has no rules. Even if I know that the country should have rules.

## Expected behaviour
the choosen certificate should be checked by choosen date and country.

## Steps to reproduce the issue

1. Open WalletApp
2. choose a already saved certificate
3. push the button: "check Validity"
4. choose a country with

[2021-07-12 08:28] kerstin-oppermann-tsi opened #86 "Typing errors in certificate validity check text"
## Describe the bug
![image](https://user-images.githubusercontent.com/81565834/125254985-48bdd080-e2fb-11eb-9707-2e61e314599a.png)

Please correct the typing errors:

certifivate -> certificate
couintry -> country

## Technical details

- iOS wallet app 1.1.0

[2021-07-12 08:43] kerstin-oppermann-tsi commented on #85
@rebwalz seems that this issue exits only for valid certificates? Or do you have an invalid one that doesnt match? Then please provide the country selection and/or screen shots, so that @alexchornyi can reproduce this and fix.

i claimed a vac cert (with 1 vac of 2) and checked it against germany and then I got the rule check for the new cert and also for the claimed cert when I check it again.
![

[2021-07-12 09:19] rebwalz commented on #85
![image](https://user-images.githubusercontent.com/81565021/125262682-aa356d80-e302-11eb-828e-e78b745c1008.png)
![image](https://user-images.githubusercontent.com/81565021/125263032-f84a7100-e302-11eb-930b-0a036648e9d8.png)
![image](https://user-images.githubusercontent.com/81565021/125263086-05676000-e303-11eb-926f-d77025dd260b.png)
![image](https://user-images.githubusercontent.com/81565021/1252

[2021-07-12 09:23] rebwalz commented on #85
But the rukles seems not be checked correct. The Testresult was at 02.06.2021. But the rule was set as passed for germany at the 14.07.2021:
![image](https://user-images.githubusercontent.com/81565021/125263677-832b6b80-e303-11eb-9e5f-2aa486d4406a.png)

[2021-07-12 12:16] alexchornyi commented on #86
@kerstin-oppermann-tsi fixed and will be available on the next build

[2021-07-13 09:15] RalicaY opened #87 "iOS - Typing Error in Failed Rule Restriction Screen"
## Describe the bug

Please fix the following typing error:

**if** --> **is**

## Expected behaviour

## Steps to reproduce the issue

## Technical details
Wallet App 1.1.0
![wallet_typo](https://user-images.githubusercontent.com/76050122/125425836-d6da8eea-036d-4042-921b-424d38ef2215.jpg)

iPhone 8 plus v. Lutz, iOS 14.4

## Possible Fix

## Additional context

[2021-07-13 09:41] RalicaY opened #88 "iOS - Expired Certificates are shown as valid"
## Describe the bug

When an expired certificate is scanned and validated for any given country, the wallet app evaluates it as valid.   Yet, for the verifier app such certificates are invalid due to failed technical validation (RED screen).

## Expected behaviour

Certificate should be evaluated as invalid.

## Steps to reproduce the issue

## Technical details

Wallet App 1.1.0
iPhone 8 plus v.

[2021-07-13 10:45] alexchornyi commented on #87
@RalicaY fixed and will be available in the next build

[2021-07-13 13:43] kerstin-oppermann-tsi opened #89 "iOS - Valid Cerificate for country with rules displays "No rules provided for this country""
**## Describe the bug**

1. Create valid VAC certificate
2. Claim certificate by wallet app
3. Check validity

![image](https://user-images.githubusercontent.com/81565834/125461047-5bcbfd93-92b7-4250-9811-7ba7c49f50d2.png)

**## Expected behaviour**

rules that have been passed should be displayed

or

an info text like "All rules for the country were passed" (should be discussed with @Hendrik-Sch

[2021-07-14 09:11] kerstin-oppermann-tsi commented on #86
is fixed in release 1.1.0(tst)

[2021-07-14 09:11] #86 closed

[2021-07-14 09:15] kerstin-oppermann-tsi commented on #87
fixed in release 1.1.0(tst)

[2021-07-14 09:15] #87 closed

[2021-07-15 12:21] kerstin-oppermann-tsi opened #90 "iOS - TAN input should to be the first after scanning the QR Code before displaying the values of the certificate"
**## Describe the bug**

When I scan a QR Code at next step should be asked for TAN input without displaying any information about the certificate. before
Steps should be like in Android wallet app.

**## Expected behaviour**

Steps like in Android wallet app:
![image](https://user-images.githubusercontent.com/81565834/125786656-233bbf3a-767e-4d0a-8365-ffe759976fa7.png)
![image](https://user-image

[2021-07-15 12:28] kerstin-oppermann-tsi opened #91 "iOS - Validity check button should only be displayed for an already claimed certificate"
## Describe the bug

Validity check should only be possib´le for already claimed certificates and not during the scanning of new QR Code.

**Possible fix:**
Please remove the valitity chexck button when scanning the QR Code.

Only provide the Save button.

But depending on the issue https://github.com/eu-digital-green-certificates/dgca-wallet-app-ios/issues/90 display the values of the cert and th

[2021-07-18 13:44] red-lonely-neuron opened #92 "iOS - Who should issue the TAN code?"
**Who should issue the TAN code?**

When I try to enrol a new QR code of a green certificate with the dgca-wallet-app-ios application, I am asked for a TAN code. First I have tried my own green certificate then I have attempted to enrol the ones at https://dgc.a-sit.at/ehn/testsuite . The issuer of my green certificate hasn't sent me a TAN code. The test certificates at dgc.a-sit.at don't have an

[2021-07-18 17:54] mkubicek-dtc commented on #92
Hi Alex

The TAN is issued by the dgca-issuance-service. By design you can't import other DCCs without further modifications of the code.

The repositories in eu-digital-green-certificates contain an application ecosystem that may be used by countries connected to the DCC gateway. Please find more information here: https://github.com/eu-digital-green-certificates/dgc-overview

For questions regard

[2021-07-18 17:54] #92 closed

[2021-07-19 14:51] RalicaY opened #93 "[iOS] -- TAN is not accepted although it is correct"
## Describe the issue

When I type the TAN to save a certificate, the certificate cannot be saved and the error "Failure. Check the TAN and try again"

## Expected behaviour

## Steps to reproduce the issue

## Technical details
iOS Wallet 1.1.0.1
iPhone 8 plus v. Lutz, iOS 14.4

## Possible Fix

## Additional context

[2021-07-19 15:01] RalicaY commented on #93
Closed because it was tested with ACC version of the app.

[2021-07-19 15:01] #93 closed

[2021-07-20 06:39] alexchornyi commented on #91
@kerstin-oppermann-tsi fixed in #94 please validate and close

[2021-07-20 06:40] alexchornyi commented on #85
@rebwalz Please recheck #94 in new version

[2021-07-20 06:41] alexchornyi commented on #82
@stefanoschrs Fixed

[2021-07-20 06:41] #82 closed

[2021-07-20 06:45] alexchornyi commented on #90
@kerstin-oppermann-tsi not a bug. We can't validate TAN and after that send this TAN to claim certificate. TAN may used only ones. BE side not ready for this functionality.

[2021-07-20 06:45] #90 closed

[2021-07-20 08:16] PaulBallmann commented on #79
As Daniel already mentioned, this is not part of the specification from the EU. Also, as you already pointed out, it does not make sense for the verifier or wallet to omit those personal fields. Furthermore, it would not be possible to distinguish if it is my certificate or someone else's. For that reason, I will close this issue now.

[2021-07-20 08:16] #79 closed

[2021-07-20 08:29] PaulBallmann commented on #76
This would mean that certificates that might still be valid will be removed from the wallet. E.g. a test result that just is 24h and 1 second old. Some organisations might still accept it. Also, a vaccination certificate that might still be valid if the STIKO changes something will be automatically removed from the wallet. I could not see anything in the scope from the EU that indicates such a fea

[2021-07-20 08:29] #76 closed

[2021-07-20 12:08] kerstin-oppermann-tsi commented on #90
@alexchornyi But on Android it works like in the screenshots shown.

1. At first tthe QR Code is scanned.
2. Then without displaying any infos of the cert the TAN has to put in.
3. And when then TAN is correct **then** all infos of the cert are displayed.

This is the behaviour we discussed in the test team to have similiar in both apps.

[2021-07-20 12:25] kerstin-oppermann-tsi commented on #91
fixed in release 1.1.0

[2021-07-20 12:25] #91 closed

[2021-07-21 05:41] psavva opened #96 "High Urgency: Certificates are lost after an update via AppStorr"
Upon releasing an app update via the Apple Store, the Certificates that were saved on the device prior to the update are lost.

Multiple reports have been given from the AppStore review and on Twitter.

Please treat this as urgent.

Best Regards
Panayiotis Savva
Cyprus.

[2021-07-21 07:19] kerstin-oppermann-tsi opened #97 "iOS - QR Codes with region codes should not checked for business rules"
Same problem as issue https://github.com/eu-digital-green-certificates/dgca-verifier-app-ios/issues/106 in verifier app

[2021-07-21 08:41] RalicaY commented on #88
Will be closed because wallet app checks only Business Rules and no technical validation is to be made.

[2021-07-21 08:41] #88 closed

[2021-07-21 08:51] psavva commented on #96
I will close the issue as we know this originates from a missing old fix (storage)

[2021-07-21 08:51] #96 closed

[2021-07-21 08:58] Hendrik-Schmidt-Schierhorn-TSI commented on #96
Perfect! I am glad that the problem could be solved.
We were also not able to reproduce the issue.

[2021-07-21 09:28] PaulBallmann commented on #90
@kerstin-oppermann-tsi - Afaik the behaviour on iOS is according to spec, on Android it is not. So maybe we should align Android to the iOS implementation then?

[2021-07-21 09:48] kerstin-oppermann-tsi commented on #90
@PaulBallmann yes we discussed this with Hendrik yesterday, I will put this ticket to Android for fixing.

[2021-07-21 12:35] kerstin-oppermann-tsi commented on #89
Fixed in release 1.1.0.1 (5)

[2021-07-21 12:35] #89 closed

[2021-07-21 12:38] kerstin-oppermann-tsi commented on #85
I checked the related issue https://github.com/eu-digital-green-certificates/dgca-wallet-app-ios/issues/89. This is fixed now with the new wallet app version 1.1.0.1(5).

@rebwalz Please retest this ticket with the new fix.

[2021-07-23 12:55] RalicaY commented on #85
Successfully tested with iOS Wallet App 1.1.0 (7) tst

[2021-07-23 12:55] #85 closed

[2021-07-26 09:08] alexchornyi commented on #97
@kerstin-oppermann-tsi please check on latest version of app

[2021-08-02 08:00] advatar commented on #69
I do not really understand the security concerns with having the pass on the Home Screen. The real threat here is all the validator apps that can store all scanned certificates. If we were really concerned about this we should have implemented Terminal Authentication like for ICAO Biometric Passports https://www.icao.int/publications/Documents/9303_p11_cons_en.pdf . As far as I understand, the onl

[2021-08-02 08:24] jucktnich commented on #69
I don't no if this was stated before, but you can show your Medical ID on the Lockscreen (if this is activated in the settings), in the Medical ID there's you're name, DoB, weight, height, primary language, medical conditions, medical notes, allergies&reactions, medications, blood type, organ donor and you're emergency contacts. I think the data in the vaccination pass is nothing against this.

[2021-08-02 10:28] advatar commented on #69
Exactly, that you have been vaccinated or tested negative is hardly something to hide like an STD.

[2021-09-22 14:06] sehaswaran opened #106 "Crash in iOS 15 with Xcode 13"
As per Vision Framework iOS

extension VNBarcodeSymbology {

@available(macOS, introduced: 10.13, deprecated: 12.0, renamed: "aztec")
@available(iOS, introduced: 11.0, deprecated: 15.0, renamed: "aztec")
@available(tvOS, introduced: 11.0, deprecated: 15.0, renamed: "aztec")
public static let Aztec: VNBarcodeSymbology
}

Aztec, QR,DataMatrix which are deprecated in iOS 15. so it is crashing with Xc

[2021-09-22 18:21] Ein-Tim commented on #69
CovPass and Corona-Warn-App (the Wallet apps from Germany) now both can export PDFs of the saved DCCs.
They both say that this PDF contains private data and should only be shown to authorized people.

I don't understand why it isn't possible to just add a similar note and let the user add the DCC in their wallet. There is literally no difference to the PDF which can be created, the user could set

[2021-09-27 05:20] #106 closed

[2021-09-27 05:20] sehaswaran commented on #106
Fixed in Swift DGC Framework

[2021-10-19 17:40] #97 closed

[2021-10-21 06:10] kerstin-oppermann-tsi opened #107 "iOS Wallet App didnt claim certificates - always gets TAN Error"
New iOS wallet app 1.2.2 (2) und 1.2.2.1 (2) always shows TAN error when claiming certificates.

![image](https://user-images.githubusercontent.com/81565834/138220988-e77b3d33-87d9-4fe3-874d-1e6ea6f6f15c.png)

[2021-10-21 06:22] kerstin-oppermann-tsi opened #108 "iOS - Ticketing - App crashes when no certificate is selected or none is displayed and NEXT button is pressed"
iOS Wallet App 1.2.2.1 (2)
iPad 11 Pro

When scanning booking QR Code I go through the process:

1. scan QR Code
2. select environment (acc or tst)
-> both works fine

3. select certificate
-> no certificate is shown, but the NEXT button is possible to press and after that the app closes (or crashes)
![image](https://user-images.githubusercontent.com/81565834/138222706-03293408-4fcc-4787-95d7-9c46

[2021-10-21 07:50] #107 closed, assigned to ivlasov, ihorkhomyak, Hendrik-Schmidt-Schierhorn-TSI

[2021-10-21 09:13] kerstin-oppermann-tsi opened #109 "PRIO 1 - iOS - Ticketing - certificate list is not filtered - all certifcates in wallet app are displayed and not only the certificates for the user in the booking code"
iOS wallet app 1.2.2.1 (3) acc
iPad 11 Pro

**expected result**
When scanning a booking code for "Kerstin Tester" only the certificates for "Kerstin Tester" should be displayed in the ticketing step for certificate validation.

**actual result**
all certificates in the app are displayed

![image](https://user-images.githubusercontent.com/81565834/138247575-02f7c8e8-2c36-41fa-a8fa-1ed15c6febf5.png)

[2021-10-21 09:20] kerstin-oppermann-tsi opened #110 "iOS - Ticketing - displayed certificates should shows if it is a VAC / REC or TEST certificate"
iOS wallet app 1.2.2.1 (3) acc
iPad 11 Pro

**expected result**
certificates only show the Name of the person and the issuance date, but I cannot not see if it is a VAC or REC or TEST certificate

**actual result**
certificates should shows if it is a VAC / REC or TEST certificate

maybe like Android
![image](https://user-images.githubusercontent.com/81565834/138248852-289b7bd8-d0ac-4736-84fd-7ef9

[2021-10-21 09:33] kerstin-oppermann-tsi opened #111 "PRIO 1 - iOS - Ticketing - provide Ok button for going back to app main screen after successful validation of certificate"
iOS wallet app 1.2.2.1 (3) acc
iPad 11 Pro

**expected result**
There should be an OK oe Close button to go back to the main screen of the wallet app

**actual result**
confirmation screens stays open and I had to kill the app

![image](https://user-images.githubusercontent.com/81565834/138251167-b6d6932f-b5f0-4f24-ad5d-dd0d9f02d9aa.png)

sample from Android:
![image](https://user-images.githubuse

[2021-10-21 10:50] kerstin-oppermann-tsi opened #112 "iOS - Deleting of certificates not possible"
iOS wallet app 1.2.2.1 (3) acc
iPad 11 Pro

**expected result**
Certificates should be able to deleted (maybe per settings menu like in Android)

**actual result**
there is no possibility to delete a certificate

iOS:
![image](https://user-images.githubusercontent.com/81565834/138263048-2b7dd3fa-9e99-44b0-9adf-d87faee0ae0c.png)

Android:
![image](https://user-images.githubusercontent.com/81565834/

[2021-10-21 11:21] kerstin-oppermann-tsi opened #113 "iOS - Ticketing - For invalid certificate the app shows valid for travelling, in the booking frontend the invalidation error is correctly displayed"
iOS wallet app 1.2.2.1 (3) acc
iPad 11 Pro

**expected result**
An invalid VAC certificate should be displayed as invalid in the App AND in the booking frontend.

**actual result**
For invalid certificates (VAC / REC / TEST) the app shows valid for travelling, in the booking frontend the invalidation error is correctly displayed

![image](https://user-images.githubusercontent.com/81565834/13826721

[2021-10-21 11:26] kerstin-oppermann-tsi opened #114 "PRIO 2 - iOS - Ticketing - For all certificates only "Vaccination 1 of 1" is displayed - seems to be hard coded"
iOS wallet app 1.2.2.1 (3) acc
iPad 11 Pro

**expected result**
Correct information about the certificate should be displayed

**actual result**
"Vaccination 1 of 1" is displayed for every certificate

![image](https://user-images.githubusercontent.com/81565834/138267628-d67a4618-83c9-411a-920c-5357be0b5ee3.png)

[2021-10-21 11:34] ivlasov commented on #111
There was a button :) I will fix it)

[2021-10-21 14:59] Hendrik-Schmidt-Schierhorn-TSI commented on #111
Can we have an okay Button that leads directly to the HomeScreen (the Certificate-Overview) like in the Android Version?

[2021-10-21 15:05] kerstin-oppermann-tsi commented on #108
fixed in wallet 1.2.2.1 (4)

[2021-10-21 15:05] #108 closed, assigned to ivlasov, ihorkhomyak, Hendrik-Schmidt-Schierhorn-TSI

[2021-10-21 15:23] #113 closed, assigned to ivlasov, Hendrik-Schmidt-Schierhorn-TSI

[2021-10-22 15:26] #114 closed, assigned to ivlasov, Hendrik-Schmidt-Schierhorn-TSI

[2021-10-22 15:28] #109 closed, assigned to ivlasov, Hendrik-Schmidt-Schierhorn-TSI

[2021-10-22 17:58] kerstin-oppermann-tsi opened #115 "PRIO 1 - iOS - Ticketing - Only one DCC should be selectable"
Wallet iOS 1.2.2.1 (6)
iPad 11 Pro

**Actual result:**
all DCCs are selectable (the last selected will be taken for validation)
![image](https://user-images.githubusercontent.com/81565834/138499647-899ba5b1-f62f-4aaf-914e-97cf973296d6.png)

**Exprected result**
Only one DCC should be selectable.

[2021-10-22 18:04] kerstin-oppermann-tsi opened #116 "PRIO 1 - iOS - Ticketing - CANCEL Button in Grant Permission Dialog has no function (reaction)"
Wallet iOS 1.2.2.1 (6)
iPad 11 Pro

**actual result**
Pressing CANCEL button does not work
![image](https://user-images.githubusercontent.com/81565834/138501779-52e63dbc-0312-4b59-834f-ee95392551c1.png)

**expected result**
Pressing CANCEL button should result in going  to main menu

@Hendrik-Schmidt-Schierhorn-TSI what do you think?

In Android is the same issue.

[2021-10-22 18:14] kerstin-oppermann-tsi opened #117 "PRIO 1 - iOS - Ticketing - Wrong wording of "Grand Permission" - change to "Grant Permission""
![image](https://user-images.githubusercontent.com/81565834/138503324-9efdb089-8200-4bd5-9b23-8fd2227cbf4f.png)

change to "Grant Permission"

[2021-10-27 07:00] #115 closed, assigned to ivlasov, Hendrik-Schmidt-Schierhorn-TSI

[2021-10-27 07:02] #117 closed, assigned to ivlasov, Hendrik-Schmidt-Schierhorn-TSI

[2021-10-27 07:03] #116 closed, assigned to ivlasov, Hendrik-Schmidt-Schierhorn-TSI

[2021-10-27 07:04] #111 closed, assigned to ivlasov, Hendrik-Schmidt-Schierhorn-TSI

[2021-10-27 13:57] kerstin-oppermann-tsi opened #118 "iOS Ticketing - Change wording in the Share dialog - add the word "certificate""
![image](https://user-images.githubusercontent.com/81565834/139075844-dab95fba-bc8a-4f3d-8a85-b9cfe3a7c451.png)
![image](https://user-images.githubusercontent.com/81565834/139075899-7184a247-f508-493d-934d-716db44a1cc7.png)
![image](https://user-images.githubusercontent.com/81565834/139075959-4966bf1d-8052-4098-ae4c-c4d286e5aa23.png)

For more equality please change the naming of  the certificates

[2021-11-12 08:44] Hendrik-Schmidt-Schierhorn-TSI opened #119 "Booking code cannot be scanned"
## Describe the bug

Scanning a code from the dgca-booking-demo-website do not cause any reaction in the Wallet-App (1.2.3.1 (4)).

## Expected behaviour

Booking-Dialog should start

## Technical details

- iPhoneX
- iOS 14.4
- App version 1.2.3.1 (4)
![DCC_BookingCode_VN](https://user-images.githubusercontent.com/81570419/141437472-995214da-6141-416b-bf98-8b3ed629e4f4.JPG)

[2021-11-12 08:50] Hendrik-Schmidt-Schierhorn-TSI opened #120 "After claming a certificate it can not be seen in the overview"
## Describe the bug

After claming a certificate, the App needs to be closed and reopend to show the certificate in the overview.

## Technical details

- iPhoneX
- iOS 14.4
- App version 1.2.3.1 (4)

[2021-11-15 08:26] Hendrik-Schmidt-Schierhorn-TSI opened #121 "PRIO - Certificate for Ticketing can not be found"
## Describe the bug

After scanning the Code from the Booking-Portal and selecting an endpoint, the related certificate does not show up in the List of certificates.

![IMG_0111](https://user-images.githubusercontent.com/81570419/141746208-5b8934b7-0f8d-4e19-bd0d-e5e3e46f9a21.PNG)
## Expected behaviour

With the same booking code and the same certificate, the certificate is visible on android:
![S

[2021-11-15 10:07] kerstin-oppermann-tsi opened #122 "iOS - Wallet - camera does not rotate correctly similar to the device rotation"
When I rotate my device (iPad 11pro) the camera for QR scan does not rotate correct so it is very difficult to scan the QR code.
![image](https://user-images.githubusercontent.com/81565834/141763347-dce4adff-32b7-4d16-a399-c24c02bd3274.png)

This BUG is similar to the BUG in iOS verifier app.

[2021-11-17 12:32] kerstin-oppermann-tsi commented on #122
@ihorkhomyak in wallet 1.2.3(6) this issue happens further on iPad, but I will set this issue to lower prio, investigate when other important issue in verifier and wallet are finished

[2021-11-17 12:36] kerstin-oppermann-tsi commented on #118
fixed in wallet 1.2.3(6)

[2021-11-17 12:36] #118 closed

[2021-11-17 12:45] kerstin-oppermann-tsi commented on #121
fixed in wallet 1.2.3(6)

[2021-11-17 12:45] #121 closed

[2022-01-20 06:33] sehaswaran opened #125 "Not able to build this project"
Receiving this error

No type named 'ScanVC' in module 'SwiftDGC'

In SwiftDGC Package, we couldn't find ScanVC,ScanVCDelegate.

Could you please help to run this app ?

[2022-01-27 19:43] Ein-Tim commented on #69
Good News everyone!

iOS 15.4 Beta 1 added support for EU digital Covid Certificates in the wallet app. See [iOS & iPadOS 15.4 Beta Release Notes](https://developer.apple.com/documentation/ios-ipados-release-notes/ios-ipados-15_4-release-notes):

[2022-03-01 08:30] #122 closed

[2022-03-10 08:13] #120 closed

[2022-03-10 09:52] RalicaY opened #132 "[Prio iOS Wallet App] No Indication of "Revoked" Certificates"
![VAC_C1](https://user-images.githubusercontent.com/76050122/157637552-bb31512f-a70c-42f9-af32-09428c425ba1.png)
Revoked certificates are not always shown as revoked on some devices as expected.
This problem could mostly be resolved with the workaround by scrolling or by reload. But it does not guarantee that it would work.
## Expected behaviour
At least in the list view after scrolling or reloadi

[2022-03-10 09:53] michawol opened #133 "[iOS Wallet App] - Lost all certs when updating app"
## Describe the bug
When updating the app from an earlier version, all claimed certs are lost

## Expected behaviour
After updating, all aready claimed certs are still in the cert list

## Steps to reproduce the issue
1.  install a previous version
2. claim some certs
3. Scroll down to '....'
4. update to the new app

several update attempts were unsuccessful

## Technical details

- Host Machine

[2022-03-10 12:07] michawol commented on #132
war: GTAS7M6F
neu: M36Z2V7D

[2022-03-10 13:11] michawol commented on #132
neu: YN44D5S5

[2022-03-10 15:18] michawol opened #134 "[Low Prio - iOS wallet] Cannot share non-DCC PDF"
## Describe the bug
when i want to share a non-DCC PDF, there is no "Share"-Button visible

## Expected behaviour
a non-DCC PDF is saved. when the pdf is viewd in walletApp, the must be a "Share"-Button
to share the pdf

## Steps to reproduce the issue

1. save non-dcc in walletApp
2. open the saved pdf

## Technical details
iPhone 7, IOS 15.3.1
WalletApp 1.3.1 (5)
[testform1.pdf](https://github.c

[2022-03-11 09:41] RalicaY commented on #134
On my end the share button is not missing but it is largely covered by the pdf document, so that no text "share" is seen.  Yet the button exists and when I press in the lower part of the pdf-Document approximately above the covered button, the share-fubctionality is available and working.  My Device is: : iPhone 8 plus v. Lutz, iOS 15.3.1. Wallet App 1.3.1 (5)

[2022-03-11 09:43] michawol commented on #134
i agree. the button is not visible, but when i click at the lower part, the share-menu is available.

[2022-03-11 09:59] RalicaY commented on #132
Neue TAN: N32K92AX

[2022-03-11 10:48] RalicaY commented on #132
iPhone 8 plus v. Lutz, IOS 15.3.1 : VAC_C1 revocation view failed for this device

iPhone 7, IOS 15.3.1 : VAC_C1 revocation view passed with workaround (push to refresh)

[2022-03-16 13:40] PaulBallmann commented on #133
This behaviour is expected due to the update mechanism of AppCenter. It is advised to please uninstall the app before installing the new update anyways. Please close this issue.

[2022-03-16 13:50] PaulBallmann commented on #132
Unable to save the certicate with given TAN: N32K92AX

[2022-03-16 13:57] PaulBallmann commented on #125
Please make sure to import the core module as well. https://github.com/eu-digital-green-certificates/dgca-app-core-ios

[2022-03-16 14:20] kerstin-oppermann-tsi commented on #133
@michawol see @PaulBallmann 's comment

[2022-03-16 14:39] #133 closed

[2022-03-16 18:49] #125 closed

[2022-03-17 10:16] kerstin-oppermann-tsi commented on #132
@RalicaY can you check again this issue with new release 1.3.1.(7)

[2022-03-17 13:03] kerstin-oppermann-tsi opened #135 "[iOS Wallet] newly revoked cerificate will not be updated in certificate list"
When certificate is already claimed to wallet app and will be revoked later, the revokation status is not updated.

1. Claim valid certificate
2. Revoke certificate
3. Wait about 10 minutes
4. Update revokation status in settings menu
5. Scroll down certificate list

**Expected result:**
certificate should be shown as revoked

**Actual result:**
certificate is shown as valid

6. Claim the certific

[2022-03-17 15:36] RalicaY commented on #132
Yes, retest with the latest iOS Wallet App 1.3.1 (7) was successful!

[2022-03-21 12:18] RalicaY commented on #132
I have moved the issue back to open, since we have so far only successfully tested it for Hash-List.  As soon we can confirm the successful test for Bloom Filter also, I will close the issue.

[2022-03-22 15:29] PaulBallmann commented on #135
Addressed in 1.3.2 (1).

[2022-03-23 17:45] PaulBallmann commented on #134
Addressed in 1.3.2 (2).

[2022-03-24 09:58] RalicaY commented on #134
On my device the button is visible, so successfully tested and I close the ticket, iPhone 8 plus v. Lutz, iOS 15.3.1. Wallet App 1.3.2 (2)

[2022-03-24 09:58] #134 closed

[2022-03-25 08:13] RalicaY commented on #132
Successfully tested for iOS against Bloom Filter Backend.

[2022-03-25 08:13] #132 closed

[2022-03-29 09:41] kerstin-oppermann-tsi commented on #135
Will check with a cerificate claimed to wallet that expires 30/03/22 9 a.m.

[2022-03-31 11:29] kerstin-oppermann-tsi commented on #135
feature works with 1.3.2(2)

[2022-03-31 11:29] #135 closed

[2022-03-31 12:02] kerstin-oppermann-tsi opened #136 "[iOS-Wallet-App] Revocation Entry has Expired but Wallet App still Evaluates DCC-Code as REVOKED when they were stored before expiring"
If a revoked cerificate expires while it is stored in the wallet, then this is shown as revoked after the expiration date too although the reload button is pressed.

**Expected behaviour:**
Certificates should be shown as valid after reloading the settings menu and refreshing the overview screen.

[2022-04-01 09:52] kerstin-oppermann-tsi opened #137 "[iOS wallet] Fix problem for revokation reload when certificates claimed twice (or more)"
The problem is that when one certificate is claimed more than one time, only the last claimed become to the prior certificate. Means that only for this newest claimed the public keys are can be found in the gateway. So for the older claimed (on other devices or on the same device) the revokation reload function fails with 400 in the API.

Possible solution should be to ask for the information from

[2022-04-06 06:38] kerstin-oppermann-tsi commented on #136
Issue is fixed in Version 1.3.2 (4).

[2022-04-11 11:53] kerstin-oppermann-tsi commented on #136
Issue is not working anymore in 1.3.2(4) :(

[2022-04-26 13:52] RalicaY opened #138 "[iOS-Wallet-App] Verifiable Credential with Matching KID But Wrong Public Key Data Gets Saved in Wallet"
## Describe the bug

A verifiable credential (see attached file) with matching KID but wrong public key data could be saved in the wallet app  despite the wrong public key data (invalid signature).

## Expected behaviour
The app should recognize the invalidity of the signature and deny saving the credential due to invalid signature.

## Technical details
Wallet App Hash 1.3.3(4)

![private_issuer(

[2022-04-27 07:43] michawol opened #139 "[iOS-Wallet-App] qr-code are not recognizes"
## Describe the bug
the scanned qr-code are not recognized. The app stay sill in scan mode

## Expected behaviour
The system recognizes that the signature was invalid and responds with a corresponding message

## Steps to reproduce the issue
1. scan the code
2. the app still in scan mode

## Technical details
iPhone 7, IOS 15.3.1
WalletApp 1.3.3 (4)

![nullable_values](https://user-images.githubus

[2022-04-27 10:44] RalicaY opened #140 "[iOS-Wallet-App] Nullable Values in Verifieable Credentials Lead To Unscannable Code"
## Describe the bug

We tried to can a Verifiable Credential Code with Null-values.  The app could not read the code.  It was not scannable.  (See attached code).

## Expected behaviour

The app should be able to scan such codes.

## Technical details
iOS Wallet App 1.3.3(4)
![nullable_values](https://user-images.githubusercontent.com/76050122/165501387-3e3be98e-7d1d-4542-a626-de55ed63f138.PNG)

[2022-04-27 10:45] RalicaY commented on #139
Closed because it doubles https://github.com/eu-digital-green-certificates/dgca-wallet-app-ios/issues/140

[2022-04-27 10:45] #139 closed

[2022-04-28 13:51] michawol opened #141 "[iOS-Wallet-App] Dont accept the generated TAN"
## Describe the bug
a new generated certificate (VAC, Test) from the web page cannot store in the App
because the tan are not accepted

## Expected behaviour
after accepting the TAN, the certificate is claimed

## Steps to reproduce the issue
1. Create a certificate in the web app
2. scan the qr-code with the wallet app
3. click save
4. enter the tan whis is shown at the web page

## Technical det

[2022-04-28 14:22] michawol opened #142 "[iOS-Wallet-App] LOW PRIO: dont request a biometric / pin code when started"
## Describe the bug
when starting the app, its show directly the list of certicated.
no biometric / pin is requested

## Expected behaviour
after starting, it must be enter a biometric or pin code befor showing the certicate list

## Steps to reproduce the issue

1. start the app

## Technical details
iPhone 7, IOS 15.3.1
WalletApp 1.3.3 (4)

[2022-04-28 14:31] michawol commented on #141
fixed with

DGCA Wallet
--
1.3.3 (5)
for iOS

[2022-05-04 14:10] RalicaY commented on #142
Successfully retested iOS Wallet 1.3.3(7)

[2022-05-04 14:10] #142 closed

[2022-05-05 08:33] RalicaY commented on #136
The issue still persists in 1.3.3 (7)

[2022-05-05 10:58] RalicaY commented on #138
05.05.2022: Retest with iOS Wallet 1.3.3(7) not successful. Actual Result: "Barcode-Fehler".

[2022-05-09 10:20] RalicaY commented on #140
Retest failed, scanning same code results to "Cannot read barcode", iOS Wallet 1.3.3(7)

[2022-05-10 09:25] MykhailoNester commented on #140
<img width="642" alt="Screenshot 2022-05-10 at 12 25 31" src="https://user-images.githubusercontent.com/9447674/167596287-aeaf4e6f-d787-4867-bb9f-ff394437ba29.png">

[2022-05-10 09:46] RalicaY commented on #141
retest failed iOS Wallet 1.3.3(7)  No new TAN is shown for claimed certificates. I.e., once a certifificate is claimed with the original TAN, there is no new TAN generated and therefore the Code cannot be claimed again.

[2022-05-10 09:52] RalicaY commented on #141
Indeed, fixed

[2022-05-10 09:52] #141 closed

[2022-05-10 09:53] RalicaY commented on #141
I deleted my previous comment because it was in the wrong ticket. This one must remain closed.

[2022-05-10 10:22] kerstin-oppermann-tsi commented on #136
@PaulBallmann can you have a look on this again?

[2022-05-10 12:34] ltranvan commented on #138
Prio will be reduced in agreement with project-mgmt, because thid unexpected clamiing of this wrong Credential feature is only displayed in the app of the one's user and has no further impact  The most important thing is that It is not accepted as expected by the Verifier App.

[2022-05-11 08:18] ltranvan commented on #140
tvt, 11.05.2022:
The same code scanned bei Android-Verifier and bring an another message, but
at the end the JWT and not the verifiable Credential is noticed by the app and an error-message is displayed

[2022-05-11 08:18] #140 closed

[2022-05-11 12:42] kerstin-oppermann-tsi opened #143 "[iOS Wallet] Entry "Invalidität" should not be part of certificate detail screen"
The new wallet 1.3.3(11) has an entry "Grund der Invalidität" "Keine Einträge im Zertifikat" but this should be not part of the wallet app.

![image](https://user-images.githubusercontent.com/81565834/167851941-86d243fa-6b8c-433c-940c-fd05e7abe5de.png)
![image](https://user-images.githubusercontent.com/81565834/167851985-9cf3e066-a225-46b7-a001-e73ab9bafa64.png)

Here is the example for the same c

[2022-05-11 12:46] kerstin-oppermann-tsi opened #144 "[iOS wallet] Last updated entry for pub keys and revokation data always stays on 0001-01-01"
Functional the loading of data seems to work (country list ist loaded, and revokation data is updated) but visuell the reloading date of keys and revokation data is not changed, always stay on 0001-01-01

![image](https://user-images.githubusercontent.com/81565834/167852508-71ceb413-77a3-4f01-b587-371a7f4b6cac.png)

[2022-05-11 13:19] kerstin-oppermann-tsi commented on #136
Retest 11.5.2022 mit 1.3.3(11)

2 Zertifikat revoked. - Update in der App auf revoked Status hat super geklappt bei beiden. :white_check_mark:

Zertifikat expired 14:45 -> 14:49 Uhr in der wallet app Liste reloaded - Zertifikat wieder valid :white_check_mark:
Zertifikat expired 15 Uhr -> 15:13 Uhr ist das Zertifikat immer noch als revoked angezeigt :no_entry: trotz mehrmaligen reload in settings u

[2022-05-11 14:08] kerstin-oppermann-tsi commented on #136
We have an idea, that the issue can be, if the certificate was claimed when it was already revoked and then expires it doesn't work. But if the certificate revokes while it is already claimed as a valid, and the expires, then this issue here works. But we have to investigate in this.

[2022-05-11 15:03] ltranvan commented on #138
tvt, 11.05.2022: Retest successfully carried out together with Hendrik.

[2022-05-12 08:54] kerstin-oppermann-tsi commented on #136
Seems to be the fact for now and in my testing cases:

When new revoked certificate is claimed or a further claimed certificate will change its status to revoked in app, THEN all expired certificates appear as valid.

If nothing new happens in app, THEN all expired certificates stay in status expired.

[2022-05-12 11:09] kerstin-oppermann-tsi commented on #136
Issue is fixed in wallet 1.3.3(14), successfully retested. After reload in settings menu the revoked expire certificates will no longer be shown as revoked in app.

[2022-05-12 11:10] kerstin-oppermann-tsi commented on #136
@ltranvan can you recheck or set this issue to done.

[2022-05-13 06:26] #136 closed